{% extends 'master.html' %}

{% block title %} Crear Matrícula {% endblock %}
{% block content %}
    <h1 style="width: 100%">Agregar Matrícula</h1>
    <form method="post">
        <p>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre"
                   placeholder="Ingrese el nombre del propietario" required>
            </input>
        </p>

        <p>
            <label for="placa">Placa</label>
            <input type="text" name="placa"
                   placeholder="Ingrese placa del vehículo" required>
            </input>
        </p>

        <p>
            <label for="anio">Año</label>
            <input type="text" name="anio"
                   placeholder="Ingrese año de matrícula" required>
            </input>
        </p>
        <p>
            <label for="costo">Costo</label>
            <input type="text" name="costo"
                   placeholder="Ingrese costo de la matrícula" required>
            </input>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}
