{% extends 'master.html' %}

{% block title %} Editar Matrículas {% endblock %}
{% block content %}
    <h1 style="width: 100%">
        Editar Matrícula - {{ docente.id }}
    </h1>
    <form method="post">
        <p>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre"
                   value={{ docente.nombre }}
                   placeholder="Nombre del Propietario" required>
            </input>
        </p>

        <p>
            <label for="placa">Placa</label>
            <input type="text" name="placa"
                   value={{ docente.placa }}
                   placeholder="PLaca del Vehículo" required>
            </input>
        </p>

        <p>
            <label for="anio">Año</label>
            <input type="text" name="anio"
                   value={{ docente.anio }}
                   placeholder="Año de la matrícula" required>
            </input>
        </p>
        <p>
            <label for="costo">Costo</label>
            <input type="text" name="costo"
                   value={{ docente.costo }}
                   placeholder="Costo de matricula" required>
            </input>
        </p>
        <p>
            <button type="submit">Editar</button>
        </p>
    </form>
{% endblock %}
